# Build files
.next/build/chunks/
.next/cache/
.next/server/chunks/
*.map
*.js.map

# Large JavaScript bundles
*_04d7a048_js
*_05f88b00_js
*node_modules_b5d1dc44_js
*postcss_config_njs_transform_*

# Build manifests
*-build-manifest.json
*-paths-manifest.json
*-loadable-manifest.json
*-font-manifest.json
*server-reference-manifest.json

# Node modules
node_modules/
/node_modules
node_modules/*
node_modules/**/*

# Next.js build outputs
.next/
/.next/
/out/

# Next.js specific files
*.js.map
*.css.map
**/build-manifest.json
**/*-manifest.json
**/*-reference-manifest.js
**/page.js
**/route.js
**/pages-manifest.json
**/server-reference-manifest.js
**/middleware-manifest.json
**/middleware-build-manifest.js
**/interception-route-rewrite-manifest.js
**/next-font-manifest.js
**/page_client-reference-manifest.js
**/route_client-reference-manifest.js

# Font files
**/[next]_internal_font_*
